# PostgreSQL
DJANGO_DB_NAME=lastbite
DJANGO_DB_USER=postgres
DJANGO_DB_PASSWORD=your_password
DJANGO_DB_HOST=localhost
DJANGO_DB_PORT=5432

# Redis (Upstash)
REDIS_URL=rediss://default:your_password@your-endpoint.upstash.io:6379
